.image-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  width: 700px;
  height: 500px;
  background-image: url('../img/doloni.jpg');
  background-size: 700px 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container a {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 32px;
  display: inline-block;
  position: relative;
}

.index h1 {
  padding: 20px 0;
}

.index {
  background-color: goldenrod;
  color: brown;
}